# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
dist-ssr
*.local

# Node dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Prisma
prisma/migrations
prisma/generated

# 数据目录
/data

.VSCodeCounter

# 图标处理目录
/scripts/new-icons
/scripts/old-icons
/scripts/old-color-icons

.sisyphus
