# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Prisma
prisma/migrations
prisma/generated

# 数据目录
/data

.VSCodeCounter

# 图标处理目录
/scripts/new-icons
/scripts/old-icons
/scripts/old-color-icons