.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  height: var(--header-height);
  background: transparent;
  transition: 0.35s ease-out;
  backdrop-filter: blur(3px);
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 32px;
    .nav-item {
      margin-right: 8px;
      padding: 0 8px;
      color: var(--color-white);
      text-decoration: none;
      position: relative;
      height: 60px;
      line-height: 60px;
      font-size: 16px;
      transition: color 0.35s;
      white-space: nowrap;
      display: flex;
      align-items: center;
      display: inline-flex;
      align-items: center;
      gap: 4px;

      &:hover {
        color: var(--ui-color-primary-400);
      }
    }

    .nav-item.active {
      color: var(--primary-color) !important;

      &::after {
        content: "";
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 6px 6px 0 0;
        background-color: var(--theme-color);
        transition: 0.35s ease-out;
      }
    }

    .nav-item__dropdown {
      height: 60px;
      line-height: 60px;
      position: relative;
      padding: 0 5px;
      font-size: 15px;
      margin-right: 8px;
      padding: 0 8px;
      transition: color 0.35s;
      white-space: nowrap;
      color: var(--color-white);
      cursor: pointer;

      .arrow {
        color: var(--color-white);
        transition: transform 0.35s;
      }

      &:hover {
        .arrow {
          transform: rotateZ(-180deg);
        }
        .dropdown-menu {
          visibility: visible;
          opacity: 1;
          transform: translateX(-50%) perspective(600px) rotateX(0);
        }
      }

      .dropdown-menu {
        position: absolute;
        left: 50%;
        visibility: hidden;
        z-index: 999;
        transform-origin: top;
        background: var(--header-bg-color);
        display: flex;
        flex-direction: column;
        box-shadow: var(--box-shadow);
        border-radius: 4px;
        overflow: hidden;
        opacity: 0;
        transform: translateX(-50%) perspective(600px) rotateX(-45deg);
        transition:
          opacity 0.35s,
          visibility 0.35s,
          transform 0.35s;

        > a {
          display: inline-flex;
          line-height: 40px;
          height: 40px;
          transition: 0.35s;
          color: var(--ui-text);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 16px;
          text-decoration: none;
          align-items: center;
          gap: 4px;

          &:hover {
            color: var(--theme-color);
            transition: 0.35s;
          }
        }
      }
    }
  }

  &__action {
    color: var(--color-white);
    display: inline-flex;
    gap: 16px;
    align-items: center;

    .iconify {
      cursor: pointer;

      &:hover {
        color: var(--theme-color);
      }
    }
  }

  &__user {
    color: var(--color-white);
    margin-left: 16px;
    outline: none;
    user-select: none;
    cursor: pointer;

    &:hover {
      color: var(--theme-color);
    }
  }

  &__menu-btn,
  &__search-btn {
    display: none;
  }
}

.header.active {
  box-shadow: 0 2px 10px 0px rgba(121, 121, 121, 0.4);
  background-color: var(--header-bg-color);

  .header__nav {
    .nav-item {
      color: var(--ui-text);

      &:hover {
        color: var(--theme-color);
      }
    }
    .nav-item__dropdown {
      color: var(--ui-text);
      .arrow {
        color: var(--ui-text);
      }
    }
  }
  .header__user,
  .header__action {
    color: var(--ui-text);
  }
}

@media screen and (max-width: 1024px) {
  .header {
    // background-color: var(--bg-color);
    padding: 0 1rem;
    &__logo {
      img {
        width: 32px;
        height: 32px;
      }
    }
    &__nav,
    &__action,
    &__user {
      display: none;
    }
    &__menu-btn,
    &__search-btn {
      display: inline-flex;
    }
  }
}
