.ly-editor {
  --ly-editor-background: #202327;

  --ly-editor-menu-bar-height: 40px;
  --ly-editor-status-bar-height: 30px;

  --ly-editor-foreground: #cccccc;

  --ly-editor-activity-bar-width: 48px;

  --ly-editor-sidebar-background: #202327;
  --ly-editor-toolbar-background: #2e3138;
  --ly-editor-tabpane-background: #1e1e1e;

  --ly-editor-luminosity-plus1: hsl(220 60% 95% / 0.06);
  --ly-editor-luminosity-plus2: hsl(220 60% 95% / 0.1);
  --ly-editor-luminosity-plus3: hsl(220 60% 95% / 0.14);

  --ly-editor-active-color: #1574ef;

  background-color: var(--ly-editor-background);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--ly-editor-foreground);

  // 管理器样式
  .sidebar-manager {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__header {
      font-size: 0.875rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #2b2b2b;
      height: 34px;
      padding: 0 6px;
      line-height: 1;
    }

    &__title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__actions {
      display: flex;
      align-items: center;

      &-item {
        cursor: pointer;
        padding: 4px;
        border-radius: 4px;
        &:hover {
          background-color: rgba(235, 240, 250, 0.06);
        }
      }
    }
  }

  .ly-editor__tabs {
    background-color: var(--ly-editor-tabpane-background);
  }
}
